ELASTIC_HOST=t_elastic
ELASTIC_PORT=9200
ELASTIC_USER=elastic
ELASTIC_PASSWORD=test
JAVA_OPTS=-Xmx512m -Xms512m


PROJECT_NAME=movies

APP_HOST=t_app
APP_PORT=8000

REDIS_HOST=t_redis
REDIS_PORT=6379
